<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AUTO MECÂNICA SILVA</title>
  <style>
    body {
      margin: 10px;
    }

    .container {
      text-align: center;
      border-top: 1px solid black;
    }

    .content {
      display: inline-block;
      text-align: center;
      margin-top: 20px;
      font-size: 13px;
    }

    .header {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      font-size: 13px;
      padding: 5px 0;
      justify-content: space-between;
      display: flex;
    }

    .footer-header {
      justify-content: space-between;
      display: flex;
    }

    .footer-body {
      justify-content: space-between;
      display: flex;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .info {
      text-align: left;
      font-size: 13px;
      margin: 5px 0;
    }

    .table-container {
      margin-top: 20px;
      font-size: 10px;
      border-top: 1px solid black;
      width: 100%;
    }

    .footer {
      border-top: 1px solid black;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      font-weight: bold;
      padding: 5px;
      border: 1px solid black;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="content">
      <h1 style="font-weight: bold; margin-bottom: 10px;">AUTO MECÂNICA SILVA</h1>
      <p>RUA HIPÓLITO JOSÉ DA COSTA 3800 - JD. GUANABARA</p>
      <p>FRANCA-SP - CEP: 14405-440</p>
      <p>FONE 01699378-8214 CNPJ: 32.768.941/0001-66</p>
    </div>

    <div class="header">
      <p><strong>COTAÇÃO</strong> - {{numero_orcamento}}</p>
      <p><strong>VI:</strong> ÉDER SILVA CUNHA</p>
      <p><strong>DATA:</strong> {{data}}</p>
    </div>

    <div class="info">
      <p><strong>Cliente:</strong> {{ cliente }} VENDA CONSUMIDOR &nbsp; DEP: MATRIZ BTS - S.P.</p>
      <p><strong>Endereco:</strong> {{endereco}}&nbsp; NF:</p>
      <p><strong>Cidade:</strong> {{cidade}} &nbsp; HORA: {{hora}}</p>
      <p><strong>CPF/CNPJ:</strong> {{documento}} </p>
      <p><strong>FONE:</strong>{{fone}}</p>
    </div>

    <div class="info">
      <p><strong>VEICULO:</strong> {{veiculo}}&nbsp; <strong>PLACA:</strong> {{placa}} &nbsp; <strong>CIDADE:</strong>
        {{cidade}} &nbsp; <strong>CLASSE:</strong> {{classe}} &nbsp; <strong>COR:</strong>
        {{cor}} &nbsp; <strong>ANO:</strong> {{ano}}</p>
    </div>

    <div class="table-container">
      <table cellspacing="0" cellpadding="5">
        <thead>
          <tr>
            <th>QT. ATEN</th>
            <th>UNID</th>
            <th>CÓDIGO</th>
            <th style="width: 40%">DESCRIÇÃO</th>
            <th>MARCA</th>
            <th>VL. UNID</th>
            <th>VL. TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            <td>{{qtd}}</td>
            <td>PC</td>
            <td>{{codigo}}</td>
            <td style="color: rgb(73, 73, 73);">{{descricao}}</td>
            <td style="color: rgb(73, 73, 73);">{{marca}}</td>
            <td>{{valor}}</td>
            <td>{{valor_total}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <footer class="footer">

      <div class="footer-body">
        <P>QTDE DE ITENS: {{totalItems}} </P>
        <P></strong>VALIDADE:</strong> {{data}}</P>
      </div>

      <div class="footer-header">
        <p>DATA DE PAGTO: ___________ </p>
        <p><strong>TOTAL: {{total}}</strong> </p>
      </div>
    </footer>
  </div>
</body>

</html>